.topnav {
    overflow: hidden;
    background-color: rgb(18, 14, 34);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .topnav a:hover {
    background-color: rgb(78, 1, 1);
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav-right {
    float: right;
    background-color: rgb(145, 86, 86)
  }
  
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
  
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 14px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: rgb(18, 14, 34);
      font-family: inherit;
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(78, 1, 1);
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(78, 1, 1);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: rgb(139, 3, 3);
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .topnav .icon {
        display: none;
      }
  
  
  
    header
    {
      background: radial-gradient(ellipse at top, #fdffff, transparent),
              radial-gradient(ellipse at bottom, #565792, transparent);
              width: 100%;
              padding-top: 1%;
            
              }
              hr.solidred {
                border-top: 10px solid rgb(78, 1, 1);
                width: 100%;
                margin-left: 0;
            
              }
              hr.solidblue {
                border-top: 10px solid rgb(18, 14, 34);
                width: 100%;
                margin-left: 0;
                margin-top: -6px;
              }

              .matchweek{margin-left: 5%;}

table.golflive{
    border-radius: 10px;
    font-size: 10pt;
    width: 135px;
    border: 3px solid rgb(78, 1, 1);
    padding: 2px
}

table.golflive tr{
    padding: 10px;
  
}

table.golflive th{
    background-color: rgb(78, 1, 1);
    color: white;
    padding: 10px;
}
table.golflive td{
    background-color: rgb(180, 162, 162);
    padding: 5px;
    
}
table.golfunplayed{
    border-radius: 10px;
    font-size: 10pt;
    width: 135px;
    border: 3px solid rgb(18, 14, 34);
    padding: 2px;
}

table.golfunplayed tr{
    padding: 10px;
    
  
}

table.golfunplayed th{
    background-color: rgb(9, 1, 78);
    color: white;
    padding: 10px;
}
table.golfunplayed td{
    background-color: rgb(163, 162, 180);
    padding: 5px;
    border-collapse: collapse;

}



              :root {
                --gutter: 20px;
              }
              
              .app {
                padding: var(--gutter) 0;
                display: grid;
                grid-gap: var(--gutter) 0;
                grid-template-columns: var(--gutter) 1fr var(--gutter);
                align-content: start;
                margin-top: -10px;
                
              }
              
              .app > * {
                grid-column: 2 / -2;
              }
              
              .app > .full {
                grid-column: 1 / -1;
              }
              
              .hs {
                display: grid;
                grid-gap: calc(var(--gutter) / 2);
                grid-template-columns: 10px;
                grid-template-rows: minmax(150px, 1fr);
                grid-auto-flow: column;
            
                overflow-x: scroll;
                scroll-snap-type: x proximity;
                padding-bottom: calc(.75 * var(--gutter));
                margin-bottom: calc(-.25 * var(--gutter));
              }
              
              .hs:before,
              .hs:after {
                content: '';
                width: 10px;
              }
              
              
              /* Demo styles */
              
              html,
              body {
                height: 100%;
              }
              
              ul {
                list-style: none;
                padding: 0;
              }
              
              h1,
              h2,
              h3 {
                margin: 0;
              }
              
              
              .hs > li,
              .item {
                scroll-snap-align: center;
                padding: calc(var(--gutter) / 2 * 1.5);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                border: 3px solid rgb(78, 1, 1);
                background: radial-gradient(ellipse at top, #fdffff, transparent),
              radial-gradient(ellipse at bottom, #9293c5, transparent);
              }
              
              
              
              .no-scrollbar {
                scrollbar-width: none;
                margin-bottom: 0;
                padding-bottom: 0;
              }
              .no-scrollbar::-webkit-scrollbar {
                display: none;
              }
              .row {
                display: -webkit-flex;
                display: flex;
                width: 99%;
              
              }
              
              .column.side {
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
               text-align: center;
               margin-top: 2%;
                 
              }
                 .column.middle {
                -webkit-flex: 2;
                -ms-flex: 2;
                flex: 2;
                margin: 2%;
                text-align: center;
              }


            table.standings{
                border-radius: 10px;
                font-size: 10pt;
                min-width: 50%;
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
                border: 3px solid rgb(78, 1, 1);
                padding: 2px;
                margin-top: 5%;
                margin-bottom: 10%;
                font-weight: bold;
            }
            
            table.standings tr{
                padding: 10px;
                border-bottom: 1px solid white;
              
            }
            
            table.standings th{
                background-color: rgb(78, 1, 1);
                color: white;
                padding: 10px;
            }
            table.standings td{
                background-color: rgb(180, 162, 162);
                padding: 5px;
                
            }
            table.weekresults{
                table-layout: auto;
                border-radius: 10px;
                font-size: 10pt;
                max-width: 95%;
                min-width: 75%;
                margin-left: auto;
                margin-right: auto;
                border: 3px solid rgb(18, 14, 34);
                padding: 2px;
                margin-top: 2%;
                margin-bottom: 2%;
                font-weight: bold;
            }
            
            table.weekresults tr{
                padding: 10px;
                background-color: rgb(163, 162, 180)
              
            }
            table.weekresults tr:nth-child(even) {
                background-color: #d2d2e6
              }
            
            table.weekresults th{
                background-color: rgb(9, 1, 78);
                color: white;
                padding: 10px;
            }
            table.weekresults td{
                                padding: 5px;
                
            }
            .responsive {
              width: 100%;
              height: auto;
            }
            table.teamsouth{
              table-layout: auto;
              border-radius: 10px;
              font-size: 10pt;
              max-width: 95%;
              min-width: 75%;
              margin-left: auto;
              margin-right: auto;
              border: 3px solid rgb(18, 14, 34);
              padding: 2px;
              margin-top: 2%;
              margin-bottom: 2%;
              font-weight: bold;
          }
          table.teamsouth tr{
            padding: 10px;
            background-color: rgb(163, 162, 180)
          
        }
        table.teamsouth tr:nth-child(even) {
            background-color: #d2d2e6
          }
        
        table.teamsouth th{
            background-color: rgb(9, 1, 78);
            color: white;
            padding: 10px;
        }
        table.teamsouth td{
                            padding: 5px;
        }

        table.teamnorth{
          table-layout: auto;
          border-radius: 10px;
          font-size: 10pt;
          max-width: 95%;
          min-width: 75%;
          margin-left: auto;
          margin-right: auto;
          border: 3px solid rgb(78, 1, 1);
          padding: 2px;
          margin-top: 2%;
          margin-bottom: 2%;
          font-weight: bold;
      }
      table.teamnorth tr{
        padding: 10px;
        background-color: rgb(180, 162, 162)
      
    }
    table.teamnorth tr:nth-child(even) {
        background-color: #e6d3d2
      }
    
    table.teamnorth th{
        background-color: rgb(78, 1, 1);
        color: white;
        padding: 10px;
    }
    table.teamnorth td{
                        padding: 5px;
    }
    table.presidents{
      table-layout:fixed ;
      border-radius: 10px;
      font-size: 10pt;
      max-width: 95%;
      min-width: 75%;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid rgb(18, 14, 34);
      padding: 2px;
      margin-top: 2%;
      margin-bottom: 2%;
      font-weight: bold;
  }
  
  table.presidents tr{
      padding: 10px;
      background-color: rgb(163, 162, 180)
    
  }
  table.presidents tr:nth-child(even) {
      background-color: #d2d2e6
    }
  
  table.presidents th{
      background-color: rgb(9, 1, 78);
      color: white;
      padding: 10px;
  }
  table.presidents td{
                      padding: 5px;
  }
  table.presidents td:nth-child(1){
  background-color: rgb(180, 162, 162);
  width: 45%;
  }  table.presidents td:nth-child(2){
    background-color: #d2d2e6;
    width: 10%;
    } table.presidents td:nth-child(3){
      background-color: rgb(163, 162, 180);
      width: 45%;
      }


article{
    box-shadow:3px 3px 1.5px rgb(61, 33, 33);
    border: 3px solid rgb(78, 1, 1);
    border-radius: 5%;
    padding: 5%;
    margin-top: 2%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bolder;
  background: rgba(78, 1, 1, 0.8);
  border-radius: 10px;
  padding: 1%;
}

table.score{
  table-layout:fixed ;

  border-radius: 20px;
  font-size: 10pt;
  max-width: 60%;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(18, 14, 34);
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
}

table.score td{
                  padding: 5px;
}
table.score td:nth-child(1){
background-color: rgb(180, 162, 162);
width: 10%;
}  table.score td:nth-child(2){
background-color: rgba(78, 1, 1, 0.8);

} table.score td:nth-child(3){
  background-color: rgba(18, 14, 34, 0.8);

  }
  table.score td:nth-child(4){
    background-color: rgb(163, 162, 180);
    width: 10%;
  }
  table.score tr :first-child{
 border-top-left-radius: 12px;
 border-bottom-left-radius: 12px;
  }
table.score tr :last-child{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}









            @media screen and ( max-width: 500px ) { 
                

                .topnav.responsive {position: relative;}
                .topnav.responsive a.icon {
                 position: absolute;
                 right: 0;
                 top: 0;
                }
            
                .topnav.responsive a {
                 float: none;
                 display: block;
                 text-align: left;
                }
            
                .topnav.responsive div {
                  float: none;
                  display:contents;
                  text-align: left;
                 }
                 .topnav.responsive .dropdown{
                 float: none;
                 text-align: left;
                 }
                 .centered {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font-size: 10px;
                  font-weight: bolder;
                  background: rgba(78, 1, 1, 0.8);
                  border-radius: 10px;
                  padding: 1%;
                }
            }
            .container {
              position: relative;
              text-align: center;
              color: white;
            }
           