.raceinfo {
    text-align: center;
    padding-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(61, 33, 33, 0.5);
    border-radius: 15px 50px;
    border-style: outset;
}


h2 {
    padding-bottom: 5px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table#timeline {
    table-layout: fixed;
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 2px solid rgb(255, 255, 255);



}

table#timeline th {
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: rgba(211, 114, 114, 0.5);
    border-radius: 12px;
    width: 35px;
;
}

table#timeline td {
    background-color: rgba(211, 114, 114, 0.5);
    padding-top: 4px;
    border-radius: 12px;
    width: 35px;
    padding-bottom: 4px;
}

table#timeline caption {
    padding-bottom: 10px;
    padding-top: 10px;
    font-style: italic;
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid white;

}

table#timeline tr:nth-child(2) {
    font-weight: bold;
}

table#timeline col:nth-child(even) {
    background-color: rgba(211, 114, 114, 0.5);
}


.timeline {
    text-align: center;
    background-color: rgba(61, 33, 33, 0.5);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;

}

table#champtable {
    table-layout: fixed;
    width: 90%;
    border: 3px outset white;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

}

table#champtable th {
    border-bottom: 2px rgb(255, 255, 255) solid;
    background-color: rgba(211, 114, 114, 0.5);
    padding-bottom: 5px;
    padding-top: 5px;
}

table#champtable td {
    background-color: rgba(211, 114, 114, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;

}

table#champtable caption {
    background-color: rgba(61, 33, 33, 0.5);
    font-style: italic;
    font-size: 18pt;
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid white;
    padding-bottom: 5px;
    padding-top: 5px;

}

table#champtable tr:nth-child(even) {
    background-color: rgba(255, 139, 139, 0.5)
}
body {
    background-image: url('images/champstrophy.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    font-family: 'exo';
    color: white;
}

.raceinfo {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(61, 33, 33, 0.5);
    border-radius: 15px 50px;
    border-style: outset;
}


h2 {
    padding-bottom: 5px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table#supergrid {
    table-layout: auto;
    width: 100%;
    border: 3px outset white;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 8pt;


}

table#supergrid th {
    border-bottom: 2px rgb(255, 255, 255) solid;
    background-color: rgba(211, 114, 114, 0.5);
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    font-size: 12pt;
}

table#supergrid td {
    background-color: rgba(211, 114, 114, 0.5);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 10pt;
    border-left: 1px solid white;

}

table#supergrid caption {
    background-color: rgba(61, 33, 33, 0.5);
    font-style: italic;
    font-size: 18pt;
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid white;
    padding-bottom: 5px;
    padding-top: 5px;

}

table#supergrid tr:nth-child(even) {
    background-color: rgba(255, 139, 139, 0.5)
}
* {
    font-family: 'exo';
}

   .topnav {
  overflow: hidden;
  background-color: rgb(37, 21, 21);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: rgb(61, 33, 33);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
  background-color: rgb(145, 86, 86)
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: rgb(37, 21, 21);
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(61, 33, 33);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(61, 33, 33);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(37, 21, 21);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  header
  {
    background: radial-gradient(ellipse at top, #91c2b7, transparent),
            radial-gradient(ellipse at bottom, #ecd052, transparent);
            padding-top: 10px;
            
            }
            .sticky {
                position: fixed;
                top: 0;
                width: 100%;
              }
              table#calendar {
                table-layout: auto;
                border: 3px outset white;
                border-collapse: collapse;
                margin-bottom: 10px;
                margin-top: 40px;
                font-size: 8pt;
            
            
            }
            
            table#calendar th {
                border-bottom: 2px rgb(255, 255, 255) solid;
                background-color: rgba(211, 114, 114, 0.5);
                padding-bottom: 2px;
                padding-top: 2px;
                text-align: center;
                font-size: 12pt;
            }
            
            table#calendar td {
                background-color: rgba(211, 114, 114, 0.5);
                padding-top: 3px;
                padding-bottom: 3px;
                text-align: center;
                font-size: 10pt;
               
            
            }
            
            table#calendar caption {
                background-color: rgba(61, 33, 33, 0.5);
                font-style: italic;
                font-size: 18pt;
                border-top: 2px solid rgb(255, 255, 255);
                border-left: 2px solid rgb(255, 255, 255);
                border-right: 2px solid white;
                padding-bottom: 5px;
                padding-top: 5px;
            
            }
            
            table#calendar tr:nth-child(even) {
                background-color: rgba(255, 139, 139, 0.5)
            }