<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Bayon&family=Orbitron:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <meta name="viewport" content="width=device-width" />
    <style>
    </style>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<header>
    <p>
        <h2 style="text-align: center;color:#cdc7be;">THE SERIOUS RACING LEAGUE</h2>
    </p>
    <img style="width:250px; margin-left:auto; margin-right:auto; display:block" src="/images/WAAH.png">

    <div class="topnav" id="topnav">
        <a href="/index.html">Home</a>
        <a href="/Season/season?season=24">Current Season</a>
        <a href="/stewards.html">Stewarding</a>
        <a href="/refund.html">Refunds</a>
        <div class="dropdown">
            <button class="dropbtn">
                Wiki
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Season">Seasons</a>
                <a href="/Races">Races</a>
                <a href="/Driver">Drivers</a>
                <a href="/Team">Teams</a>
                <a href="/Track">Tracks</a>
            </div>
        </div>
        <a href="/Stats">Stats</a>
        <a href="/live.html">LIVE</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            &#9776;
        </a>
        <div class="topnav-right">
            <a href="/golf/home.html">Serious Golfing Association</a>
        </div>
    </div>
    <script>
function myFunction() {
  var x = document.getElementById("topnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
        }
       
</script>
    </header>
<body>

    <div class="mainbody">
        @RenderBody()
    </div>
</body>
</html>
