@model IEnumerable<mowlds.github.io.Models.SeasonChampionModel>

@{
    ViewData["Title"] = "Seasons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="overflow">
<table id="seasonlist" style="text-align: center;">
    <caption>List Of Seasons</caption>
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Season
            </th>
            <th>
            Performance
            </th>
            <th>
                OSQ
            </th>
            <th>
                # of Races
            </th>
            <th>

            </th>
            <th>
                Champion
            </th>
            
        </tr>
    </thead>
    @{
    var championCounts = new Dictionary<string, int>();
}

@{
    var championCounts = new Dictionary<string, int>();
}

<tbody>
@foreach (var item in Model)
{
    // ✅ Just write C# directly — no need for @{ ... }
    string championName = item.Champion != null ? item.Champion.ToString() : "Unknown";


    if (championCounts.ContainsKey(championName))
    {
        championCounts[championName]++;
    }
    else
    {
        championCounts[championName] = 1;
    }

    int count = championCounts[championName];

    <tr>
        <td>@Html.DisplayFor(modelItem => item.Year)</td>
        <td>@Html.DisplayFor(modelItem => item.Number)</td>
        <td style="align-content: center">
            @if (item.isrealperformance)
            {
                <img class="realperf" src="~/images/realperf.png" />
            }
            else
            {
                <img class="realperf" src="~/images/equal.png" />
            }
        </td>
        <td style="align-content: center">
            @if (item.isoneshotqualy.HasValue && item.isoneshotqualy.Value)
            {
                <img class="realperf" src="~/images/box_checked.png" />
            }
            else
            {
                <img class="realperf" src="~/images/box_unchecked.png" />
            }
        </td>
        <td>
            string linkvalue = string.Format("Season/season?season={0}", item.ID);
            string parameterValue = item.Race.Count().ToString();
            <a href="@linkvalue">@parameterValue races</a>
        </td>
        <td>
            <img class="iconseasonlist" src="~/images/champtrophy.png" />
        </td>
        <td>
            @championName (@count)
        </td>
    </tr>
}
</tbody>

</table>
</div>


