@model IEnumerable<mowlds.github.io.DAL.Season>

@{
    ViewData["Title"] = "Seasons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="overflow">
<table id="list">
    <caption>List Of Seasons</caption>
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Season
            </th>
            <th>
                Real Performance
            </th>
            <th>
                OSQ
            </th>
            <th>
                # of Races
            </th>
            <th>

            </th>
            <th>
                Champion
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                   @if (supergrid.season.isrealperformance)
                    {
                        <img class="realperf" src="~/images/realperf.png">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isoneshotqualy)
                </td>
                <td>
                    @{string linkvalue = string.Format("Season/season?season={0}", item.ID.ToString());
                    }

                    @{string parameterValue = item.Race.Count().ToString();
                    }
                    <a href=@linkvalue>@parameterValue races</a>
                </td>
                <td><img class="icongrid" src="~/images/champtrophy.png">
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

