@model IEnumerable<mowlds.github.io.Models.SeasonChampionModel>

@{
    ViewData["Title"] = "Seasons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="overflow">
<table id="seasonlist" style="text-align: center;">
    <caption>List Of Seasons</caption>
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Season
            </th>
            <th>
            Performance
            </th>
            <th>
                OSQ
            </th>
            <th>
                # of Races
            </th>
            <th>

            </th>
            <th>
                Champion
            </th>
            
        </tr>
    </thead>
@{
    // Step 1: Build championCounts dictionary
    var championCounts = new Dictionary<string, int>();
    foreach (var item in Model)
    {
        string name = item.Champion != null ? item.Champion.ToString() : "Unknown";
        if (championCounts.ContainsKey(name))
        {
            championCounts[name]++;
        }
        else
        {
            championCounts[name] = 1;
        }
    }

    // Step 2: Sort Model by champion count descending
    var sortedModel = Model.OrderByDescending(item =>
    {
        string name = item.Champion != null ? item.Champion.ToString() : "Unknown";
        return championCounts[name];
    }).ToList();
}

<tbody>
    @foreach (var item in sortedModel)
    {
        string championName = item.Champion != null ? item.Champion.ToString() : "Unknown";
        int count = championCounts[championName];

        <tr>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>@Html.DisplayFor(modelItem => item.Number)</td>
            <td style="align-content: center">
                @if (item.isrealperformance)
                {
                    <img class="realperf" src="~/images/realperf.png" />
                }
                else
                {
                    <img class="realperf" src="~/images/equal.png" />
                }
            </td>
            <td style="align-content: center">
                @if (item.isoneshotqualy.HasValue && item.isoneshotqualy.Value)
                {
                    <img class="realperf" src="~/images/box_checked.png" />
                }
                else
                {
                    <img class="realperf" src="~/images/box_unchecked.png" />
                }
            </td>
            <td>
                <a href="Season/season?season=@item.ID">@item.Race.Count() races</a>
            </td>
            <td>
                <img class="iconseasonlist" src="~/images/champtrophy.png" />
            </td>
            <td>
                @championName (@count)
            </td>
        </tr>
    }
</tbody>



</table>
</div>


