@model IEnumerable<mowlds.github.io.DAL.Season>
@using mowlds.github.io.Models;
@{
    ViewBag.Title = "Season";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="raceinfo">
    <img src="../../../images/SRL.png" height="50px">

    <H1>F1 @Html.DisplayFor(seasonItem => Model.First().Year) Season @Html.DisplayFor(seasonItem => Model.First().Number)</H1>
    <h2>Season Overview</h2>
</div>
<div class="raceinfo">
    <div class="racewinner">

    </div>
    <img src="../../../images/champtrophy.png" height="200px">
    </br>
    <div class="champwinner">
            <h2 class="champwinner">@ViewData["Champion"]</h2>
        </div>
</div>

<div class="overflow">
    @{Html.RenderAction("SeasonDetails", "Season", new { seasonID = Model.First().ID });
    }
</div>
<div id="championshipTable">
    @* CDB: This loads the overview info from the provided model*@
    @{Html.RenderAction("SupergridPartial", "Season", new { seasonID = Model.First().ID });
    }
</div>

<div id="constructorsTable">
    @* CDB: This loads the overview info from the provided model*@
    @{Html.RenderAction("ConstructorsTable", "Season", new { seasonID = Model.First().ID });
    }
</div>


<div id="superGridTable">
    @* CDB: This loads the overview info from the provided model*@
    @{Html.RenderAction("SupergridQualyPartial", "Season", new { seasonID = Model.First().ID });
    }
</div>

