
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="homeparent">
<div class="row">
    <div style="font-family: 'f1reg';" class="firstcolumn">

        <fieldset class="sideborder">
            <h3>Twitter</h3>
            <hr class="solid">
            <a class="twitter-timeline" href="https://x.com/OTF_SRL" data-tweet-limit="1"
               data-chrome="nofooter noheader transparent" data-width="80%">
                Tweets by OTF_SRL
            </a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </fieldset>
        <div>
            @{Html.RenderAction("TableNarrow", "Home", new { seasonID = 0 });
            }
        </div>
    </div>
    <div class="secondcolumn">

        @{Html.RenderAction("SeasonDetails", "Season", new { season = 0 });
        }
    </div>
</div>
</div>
