
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="homeparent">
    <div class="row">
        <div style="font-family: 'f1reg';" class="column side">

<h2 style="color:black; text-align: center">LATEST UPDATES</h2>
      <fieldset class="sideborder">

        

      <a class="twitter-timeline" href="https://twitter.com/OTF_SRL" data-tweet-limit="1"
        data-chrome="nofooter noheader transparent" data-width="80%">
        Tweets by OTF_SRL</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </fieldset> 
            <div>
                @{Html.RenderAction("TableNarrow", "Home", new { seasonID = 0 });
                }
            </div>
        </div>
        <div class="column middle">
        <div class="column">
        <h2 style="color:black">Welcome to the Serious Racing League</h2>
        <br><div class="homearticle">
        <p>The SRL is an online racing league based on the F1 series of games by codemasters, now in it&apos;s 10th year, it is available cross platform and welcomes all degenerates to watch us, join the conversation or even race with us.</p>
<p></p>
<p>To be part of the SRL, please accustom yourself to our RULES</p>
<p></p>
<p>for any questions about joining to race, watching the races or joining the discord please send us a message here.</p>
<p></p>
<p>If in doubt, Click on the LIVE tab on a sunday or Wednesday after 9pm to join the streams of any of the current SRL drivers racing, or mabe playing golf or balatro when there is no race on.</p>
            </div>
        </div>
        <!--<img class="banner" src="/images/srllive.png">-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I_HJbfYAttg?si=qmC40SwTK5m0zxkr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="calendar">
        @{Html.RenderAction("SeasonDetails", "Season", new { season = 0 });
        }
            </div>
            
        </div>
    </div>
</div>
