
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="homeparent">
    <div class="row">
        <div style="font-family: 'f1reg';" class="column side">

<h2 style="color:black; text-align: center">LATEST UPDATES</h2>
      <fieldset class="sideborder">

        

<iframe width="560" height="315" src="https://www.youtube.com/embed/KrzfAU5MLb0?si=a2mVaD-C6YSLtNdP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </fieldset> 
            <div>
                @{Html.RenderAction("TableNarrow", "Home", new { seasonID = 0 });
                }
            </div>
        </div>
        <div class="column middle">

        <h2 style="color:black">Welcome to the Serious Racing League</h2>
        <br><div class="homearticle">
        <p>The SRL is an online racing league based on the F1 series of games by codemasters, now in it&apos;s 10th year, it is available cross platform and welcomes all degenerates to watch us, join the conversation or even race with us.</p>
<p></p>
<p>To be part of the SRL, please accustom yourself to our <a href="/rules.html">RULES</a>
<p></p>
<p>for any questions about joining to race, watching the races or joining the discord please send us a message <a href="/refund.html">HERE</a></p>
<p></p>
<p>If in doubt, click on the LIVE tab on a sunday or Wednesday after 9pm to join the streams of any of the current SRL drivers racing, or maybe playing golf or balatro when there is no race on.</p>

        </div>
        <!--<img class="banner" src="/images/srllive.png">-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y0qq-ANmQ7M?si=SvH7hETguYvx5B5V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I_HJbfYAttg?si=qmC40SwTK5m0zxkr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tUdoPjV5dVI?si=RXBl7vwV8Kd-qvJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="calendar">
        @{Html.RenderAction("SeasonDetails", "Season", new { season = 0 });
        }
            </div>
            
        </div>
    </div>
</div>
