
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="homeparent">
    <div class="row">
        <div style="font-family: 'f1reg';" class="column side">

<h2 style="color:black; text-align: center">LATEST UPDATES</h2>
      <fieldset class="sideborder">

        

      <a class="twitter-timeline" href="https://twitter.com/OTF_SRL" data-tweet-limit="1"
        data-chrome="nofooter noheader transparent" data-width="80%">
        Tweets by OTF_SRL</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </fieldset> 
            <div>
                @{Html.RenderAction("TableNarrow", "Home", new { seasonID = 0 });
                }
            </div>
        </div>
        <div class="column middle">
        <!--<img class="banner" src="/images/srllive.png">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I_HJbfYAttg?si=qmC40SwTK5m0zxkr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="calendar">
        @{Html.RenderAction("SeasonDetails", "Season", new { season = 0 });
        }
            </div>
            <img class="banner" src="/images/dearmav.png">
        </div>
    </div>
</div>
