<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Short Tables</title>
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet'>
    <link href= '//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css' rel='stylesheet'>

    


    <style>
        body {
            background-image: url('images/champstrophy.jpg');
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
            font-family: 'exo';
            color: white;
        }

        .raceinfo {
            text-align: center;
            padding-top: 10px;
            margin-left: 150px;
            margin-right: 150px;
            background-color: rgba(61, 33, 33, 0.5);
            border-radius: 15px 50px;
            border-style: outset;
        }


        h2 {
            padding-bottom: 5px;
        }

        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 50%;
            padding: 10px;
            text-align: center;

        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        table#supergrid {
            width: 100%;
            border: 3px outset white;
            margin-bottom: 10px;
            margin-top: 40px;
            font-size: 8pt;


        }

        table#supergrid th {
            border-bottom: 2px rgb(255, 255, 255) solid;
            background-color: rgba(211, 114, 114, 0.5);
            padding-bottom: 2px;
            padding-top: 2px;
            text-align: center;
        }

        table#supergrid td {
            background-color: rgb(41, 38, 38);
            text-align: center;
            vertical-align: middle;

        }

        table#supergrid caption {
            background-color: rgba(61, 33, 33, 0.5);
            font-style: italic;
            font-size: 18pt;
            border-top: 2px solid rgb(255, 255, 255);
            border-left: 2px solid rgb(255, 255, 255);
            border-right: 2px solid white;
            padding-bottom: 5px;
            padding-top: 5px;

        }
        .icon{
  height: 25px;
  margin-bottom: -3px;
}

    </style>
</head>

<body>
    <div class="raceinfo">
        <img src="images/SRL.png" height="50px">
        <H1>F1 2021 Season 1</H1>
        <h2>Results Grids</h2>
    </div>

    <p><button onclick="sortTable()">Sort</button></p>

    <div class="supergrid">
        <table id="supergrid">
            <caption style="font-weight: bolder ;">DRIVERS CHAMPIONSHIP</caption>
            <tr>
                <th>Pos</th>
                <th>Driver</th>
                <th>Team</th>
                <th>Points</th>
                <th>Diff</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>


            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>ESP</td>
                <td>MON</td>
                <td>AZE</td>
                <td>CAN</td>
                <td>FRA</td>
                <td>AUT</td>
                <td>GBR</td>
                <td>HUN</td>
                <td>NED</td>
                <td>RUS</td>
                <td>CHI</td>
                <td>SIN</td>
                <td>JAP</td>
                <td>USA</td>
                <td>MEX</td>
                <td>BRA</td>
                <td>AUS</td>
                <td>ABU</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Nick</td>
                <td>Team Breeze</td>
                <td>307</td>
                <td>3</td>
                <td>3</td>
                <td>2</td>
                <td>1</td>
                <td>11</td>
                <td>2</td>
                <td>1</td>
                <td>DNF</td>
                <td>2</td>
                <td>8</td>
                <td>3</td>
                <td>1</td>
                <td>13</td>
                <td>2</td>
                <td>2</td>
                <td>DNF</td>
                <td>3</td>
                <td>3</td>
                <td>6</td>
                <td></td>
                <td></td>


            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>308</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td><img class="icon" src="../images/numbers/1.png"></td>
                <td><img class="icon" src="../images/numbers/2.png"></td>
                <td><img class="icon" src="../images/numbers/3.png"></td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Wiggins</td>
                <td>Team Ecosse</td>
                <td>30</td>
                <td>-5</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>5</td>
                <td>6</td>
                <td>11</td>
                <td>DNF</td>
                <td>15</td>
                <td>15</td>

            </tr>
           
    </div>
    <script>
        function sortTable() {
          var table, rows, switching, i, x, y, shouldSwitch;
          table = document.getElementById("supergrid");
          switching = true;
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[0];
              y = rows[i + 1].getElementsByTagName("TD")[0];
              //check if the two rows should switch place:
              if (Number(x.innerHTML) > Number(y.innerHTML)) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
            }
          }
        }
        </script>




    </div>
    </div>
</body>